<form class="confirm-password-form" [formGroup]="form">
	<h2 mat-dialog-title>Confirm your password</h2>
	<mat-dialog-content class="row">
			<mat-form-field class="col-xs-12 spacious">
				<input matInput placeholder="Password"
					name="password" type="password" formControlName="password"
					[type]="showPassword ? 'text' : 'password'"
					[(ngModel)]="model.password" 
					required>
				<mat-icon class="toggle-display-password" (click)="showPassword=!showPassword">
					{{showPassword ? 'visibility_off' : 'visibility'}}
				</mat-icon>						
			</mat-form-field>
		
	</mat-dialog-content>

	<mat-dialog-actions>
	  <button mat-button mat-dialog-close type="button">Cancel</button>
	  <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
	  <button mat-button [mat-dialog-close]="model.password" type="submit">Confirm</button>
	</mat-dialog-actions>
</form>
