
<mat-card class="sm-centered-card" [@slideIn] *ngIf="formState == 'pending'"> 

	<form class="register-form" (ngSubmit)="submit()" [formGroup]="form">
		
		<mat-card-title>
		  <span>Sign Up</span>
		</mat-card-title>

		<mat-card-content class="container">

			<div class="row">
				<mat-form-field class="col-12 spacious">
					<input matInput placeholder="Email address" 
						name="email" formControlName="email"
						[(ngModel)]="model.email" 
						required uniqueEmail>

					<mat-error *ngIf="form.controls['email'].hasError('pattern')">
				      Please enter a valid email address
				    </mat-error>
				    <mat-error *ngIf="form.controls['email'].hasError('required')">
				      Please enter a valid email address
				    </mat-error>
				    <mat-error *ngIf="form.controls['email'].hasError('unique')">
				     This email address is already registered
				    </mat-error>
				    
				</mat-form-field>
			</div>
			<div class="row">

				<mat-form-field class="col-12 spacious">
					<input matInput placeholder="Password"
						name="password" type="password" formControlName="password"
						[type]="showPassword ? 'text' : 'password'"
						[(ngModel)]="model.password" 
						required>
					<mat-icon class="toggle-display-password" (click)="showPassword=!showPassword">
						{{showPassword ? 'visibility_off' : 'visibility'}}
					</mat-icon>
				    <mat-error *ngIf="form.controls['password'].hasError('required')">
				     Password is required
				    </mat-error>						
				</mat-form-field>

			</div>
			<div class="clearfix"></div>


		</mat-card-content>
		<mat-card-actions class="container">

			<div class="row flex-sm-row-reverse">
				<div class="col-sm-6 text-right">
					<button mat-button type="submit" [disabled]="loading || !form.valid">Get started</button>
				</div>
				<div class="col-sm-6 text-left">
					<span><a routerLink="/login" routerLinkActive="active">I'm already a member</a></span>
				</div>

			</div>

		</mat-card-actions>

	</form>

	<mat-progress-bar mode="indeterminate" class="valign-bottom" *ngIf="loading"></mat-progress-bar>


</mat-card>


<mat-card class="sm-centered-card" [@slideIn] *ngIf="formState == 'complete'"> 
		<mat-card-title>
		  <span>Account Activation</span>
		</mat-card-title>

		<mat-card-content class="container">
			<div class="row">
				<div class="col-12 spacious">
					We just sent you an email, click the link inside to activate your account.
				</div>
			</div>
		</mat-card-content>
</mat-card>

