

<mat-card class="sm-centered-card"  [@slideIn] *ngIf="formState == 'pending'"> 
	<form class="reset-password-form" (ngSubmit)="submit(form)" [formGroup]="form">

		<mat-card-title>
		  <span>Reset password</span>
		</mat-card-title>

		<mat-card-content class="container">
			<div class="row">
				<mat-form-field class="col-12 spacious">
					<input matInput placeholder="Email address" 
						name="email" formControlName="email"
						[(ngModel)]="model.email" 
						required >
				</mat-form-field>
			</div>

			<div class="clearfix"></div>
		</mat-card-content>

		<mat-card-actions class="container">
			<div class="row flex-sm-row-reverse">
				<div class="col-sm-6 text-right">
					<button mat-button type="submit" [disabled]="loading || !form.valid">Reset my password</button>
				</div>
				<div class="col-sm-6 text-left">
					<ul class="plain-list">
						<li><a routerLink="/login" routerLinkActive="active">Sign in</a></li>
						<li><a routerLink="/register" routerLinkActive="active">Create an account</a></li>
						
					</ul>
				</div>
			</div>
		</mat-card-actions>

	</form>

	<mat-progress-bar mode="indeterminate" class="valign-bottom" *ngIf="loading"></mat-progress-bar>


</mat-card>

<mat-card class="sm-centered-card" [@slideIn]   *ngIf="formState == 'success'"> 

		<mat-card-content class="container">
				<div class="col-12 spacious">
					We just sent you an email, click the link inside to reset your password.
				</div>
		</mat-card-content>
</mat-card>

