

<mat-card class="sm-centered-card"  [@slideIn]  *ngIf="formState == 'pending'"> 
	<form class="reset-password-form" (ngSubmit)="submit()" [formGroup]="form">

		<mat-card-title>
		  <span>Choose a password</span>
		</mat-card-title>
		<mat-card-content class="container">
			<div class="row">
				<mat-form-field class="col-12 spacious">
					<input matInput placeholder="Password"
						name="password" type="password" formControlName="password"
						[type]="showPassword ? 'text' : 'password'"
						[(ngModel)]="model.password" 
						required>
					<mat-icon class="toggle-display-password" (click)="showPassword=!showPassword">
						{{showPassword ? 'visibility_off' : 'visibility'}}
					</mat-icon>						
				</mat-form-field>
			</div>
		</mat-card-content>
		<mat-card-actions class="container">
			<div class="col-sm-12 text-right">
				<button mat-button type="submit" [disabled]="loading || !form.valid">Save</button>
			</div>
		</mat-card-actions>
	</form>

</mat-card>

<mat-card class="sm-centered-card"  [@slideIn]   *ngIf="formState == 'success'"> 
	<form class="reset-password-form">

		<mat-card-title>
		  <span>Done</span>
		</mat-card-title>
		<mat-card-content class="container">
			<div class="row">
				Your password has been changed. Remember.
			</div>
		</mat-card-content>
		<mat-card-actions class="container">
			<div class="row">
				<div class="col-12 text-right">
					<button mat-button routerLink="/login" routerLinkActive="active"><a routerLink="/login" routerLinkActive="active">Login</a></button>
				</div>
			</div>
		</mat-card-actions>
	</form>

</mat-card>


<mat-card class="sm-centered-card" [@slideIn]    *ngIf="formState == 'error'"> 
	<mat-card-title>
	  <span>Reset Password</span>
	</mat-card-title>
	<mat-card-content class="container">
		<div class="row">
			<div class="col-12">{{this.errorMessage}}</div>
		</div>
	</mat-card-content>


</mat-card>
