<mat-toolbar color="primary">
<button mat-icon-button *ngIf="isMobileView || ! stickySideNav" (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>

<span class="site-title"><a routerLink="/">Agape</a></span>
<span class="spacer"></span>

<button mat-icon-button  *ngIf="auth.user" [matMenuTriggerFor]="appMenu"><mat-icon>account_circle</mat-icon></button>



</mat-toolbar>
<mat-menu #appMenu="matMenu">
	<a routerLink="/account">
		<button mat-menu-item> Account </button>
	</a>
	<a routerLink="/logout">
		<button mat-menu-item> Logout </button>
	</a>
</mat-menu>


<mat-sidenav-container id="sidenav-container">
  <mat-sidenav id="sidenav" #sidenav mode="side">
	<a routerLink="/register" *ngIf="!auth.user"  (click)="onNavbarLinkClick()">
		<button mat-menu-item > Sign up </button>
	</a>
	<a routerLink="/login" (click)="onNavbarLinkClick()">
		<button mat-menu-item  *ngIf="!auth.user"> Login </button>
	</a>
	<a routerLink="/account" (click)="onNavbarLinkClick()">
		<button mat-menu-item  *ngIf="auth.user"> My Account </button>
	</a>
	<a routerLink="/logout" (click)="onNavbarLinkClick()">
		<button mat-menu-item  *ngIf="auth.user"> Logout </button>
	</a>
  </mat-sidenav>

  <mat-sidenav-content id="sidenav-content">
	<router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>


